@model IEnumerable<FinalProject2020.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendingPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenant.TenantId)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendingPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tenant.TenantId)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.AppointmentId }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.AppointmentId }) 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.AppointmentId })*@
        </td>
    </tr>
}

</table>
