@model IEnumerable<FinalProject2020.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenantId)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenantId)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.MessageId }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.MessageId }) 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.MessageId })*@
        </td>
    </tr>
}

</table>
